<div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
  <p>Drag-n drop a file or click to browse here</p>
  <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
</div>
<div  class="files-list" *ngFor="let file of files;let i= index">
    <p> {{ file }} </p>
    <button class="delete-file" (click)="deleteAttachment(i)">
      <i class="material-icons">delete</i>
    </button>
 </div>
 
<!--
/*
* original file by https://github.com/MariemChaabeni
* modified by Bérenger Dalle-Cort
*/
 -->