<div *ngIf="showUploadContainer" class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
  <p>Drag-n drop a file or click to browse here</p>
  <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
</div>
<div  class="files-list" *ngFor="let file of uploadedFileNames;let i= index">
    <img [src]="imgURL" height="50" *ngIf="imgURL">
    <p> {{ file }} </p>
    <button class="delete-file" (click)="deleteAttachment(i)">
      <i class="material-icons">delete</i>
    </button>    
 </div>
<p>{{uploadMessage}}</p>
<!--
/*
* original file by https://github.com/MariemChaabeni
* modified by Bérenger Dalle-Cort
*/
 -->

<div *ngIf="!showUploadContainer">
  <p>Use handles to setup the crop area, then click on CROP-IT.</p>
  
  <div class="crop-workspace" id="crop-workspace">
    <div (mousemove)="updateCropSelection($event)" class="crop-corner" id="crop-corner-1" cdkDragBoundary=".crop-workspace" cdkDrag></div>
    <div (mousemove)="updateCropSelection($event)" class="crop-corner" id="crop-corner-2" cdkDragBoundary=".crop-workspace" cdkDrag></div>
    <div class="crop-selection" id="crop-selection" ></div>  
    <img [src]="imgURL" *ngIf="imgURL" id="crop-img">    
    <a class="button fancy-button" id="crop-button"><i class="material-icons">crop</i> CROP-IT</a>   
  </div> 
  
</div>