<h2>What's Crop-it-now ?</h2>
<p>Crop-it-now is able to crop a PNG image sent by an user from a browser.</p>
<h2>Why Crop-it-now ?</h2>
<p>This is an exercice to use Angular, TypeScript, Java, Spring Boot, Spring MVC, Docker and Docker-compose.</p>
<p>
The goal is to build a tiny application to send a png image with a rectangle from the client side to a Rest API on the server side. Whith the client the user will be able to updload it's PNG and set a crop rectangle. The server will delete extra pixels and send back a new PNG cropped. To easily deploy the application I'll try to use docker.
</p>